background-image: url("https://daks2k3a4ib2z.cloudfront.net/64556d8ed43e254b5d710343/64557578fd0721b9a72237d2_pexels-lucas-pezeta-3772353-p-130x130q80.jpg")center center/cover no-repeat;

h1 {
  color: Purple;
  margin-left: 20px;
}
